node_modules/
.expo/
dist/
build/
.DS_Store

/android
/ios

bun.lock

expo-env.d.ts
.env
.env.local
.env.*.local

# Python
**/__pycache__/
**/*.pyc
backend/.venv/

# Firebase
google-services.json
*firebase-adminsdk*.json
